/*{
	color: blue;
}
p{
	color: red;
}
#profile-pic img{
	border-radius: 50%;
}*/
/*----foto de perfil-------*/
#profile-pic img{
	border-radius: 50%;
	width: 110px;
	height: 90px;
}
/*------general------*/
ul{
	list-style-type: none;
}
/*-------aside-------*/
aside { 
	background-color: #647087;
	margin-left: 3%;
}
aside *{
	color: white;
}
aside h2{
	text-transform: uppercase;
	letter-spacing: 5px;
}
aside section h2:first-child{
	border-bottom: 2px white solid;

}
main section >h2{
	text-transform: uppercase;
	letter-spacing: 5px;
}
meter {
    display: block;
    width: 90%;
}
.hero{
	background-color: #f7ddc3;
	box-shadow: 3px 3px 30px 5px #547087 inset;
	padding: 15% 0%;
}
.hero h2{
	letter-spacing: 12px;
	color:white;
	border-top:2px solid white;
	text-transform: none;
	letter-spacing: normal;
}
.about-me{
	background-color: pink;
}
.about-me h2{
	background-color: white;
}
article h3{
font-weight: bold;
}
article h4{
	font-weight: bold;
}
article ul{
	list-style: 
}
.izquierda{
	width: 300px;
	display: flex;
}
.derecha{
	width: 1200px;
	display: flex;
	margin-left: 3%;
}
.general{
	display: flex;
}

.references{
	display: flex;
flex-wrap:;
}
.references article{
	width: 50%;
}
@media(max-width: 400px){
	.main-container{
		width: 100%;
		flex-wrap: wrap;
	}
	aside, main{
		flex-basis: 100%;
	}
}
